@import "reset.css";
@import url('~tabulator-tables/dist/css/tabulator.min.css');
@import "style.css";

body {
    min-width: fit-content;
}

.status {
    font-weight: bold;
}

#loading_screen {
    height: 100%;
    width: 100%;
    position: absolute;
    background: lightpink;
    justify-content: center;
    align-items: center;
    opacity: 0.6;
    margin: -5px 0 0 -5px;
    /* offset padding */
    z-index: 100;
}

#loading_message {
    font-size: 24pt;
    font-weight: bold;
}

#firstname_male{
    background-color: lightskyblue;
    color: black;
}

#firstname_female{
    background-color: lightpink;
    color: black;
}

#firstname_unknown{
    background-color: lightgray;
    color: black;
}

#email_content{
    min-height: 400px;
}